@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_signInLayout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .form-signin {
            margin: 0 auto;
            max-width: 400px;
            background-color: azure;
            padding: 20px;
            border-radius: 20px;
        }

            .form-signin h2 {
                text-align: center;
            }
    </style>
</head>
<body>
    <div class="front">
        <div class="container">
            <form class="form-signin" method="post">
                <h2>SignIn</h2>
                <label>Emai:</label>
                <input type="text" name="Email" class="form-control" placeholder="Enter Your Email" /><br />
                <label>Password:</label>
                <input type="password" name="Password" class="form-control" placeholder="Enter Your Password" /><br />
                <label><input type="checkbox" name="checkboxCheck" /> Remember me </label>
                <input type="submit" class="btn btn-success btn-block" value="Submit" />
            </form>
        </div>
    </div>
</body>
</html>