<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portal</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-blue-200">
        <div class=" container m-auto">
            <div class="">
                <ul class="flex gap-4 justify-center py-1">
               
                    <a class="px-5 py-2 bg-blue-400 rounded text-xl font-medium text-white hover:bg-blue-300 duration-200" href="/home/Profile">Profile</a>
                    <a class="px-5 py-2 bg-blue-400 rounded text-xl font-medium text-white hover:bg-blue-300 duration-200" href="/home/Carts">A</a>
                    <a class="px-5 py-2 bg-blue-400 rounded text-xl font-medium text-white hover:bg-blue-300 duration-200" href="/home/Buy">Buy</a>
                    <a class="px-5 py-2 bg-blue-400 rounded text-xl font-medium text-white hover:bg-blue-300 duration-200" href="/home/SignOut">Sign Out</a>
                  
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="container  m-auto mb-10">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Binary Bots</p>
        </footer>
    </div>

</body>
</html>
