
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>AddToCart</h2>
<h2>@Model.ProductID</h2>
<h2>@Model.CustomerID</h2>
<h2>@Model.Price</h2>
<h2>@Model.Quantity</h2>
